<% var head = require('@meta/head.ejs'); %>
<% var pageHeader = require('@components/page-header/page-header.ejs'); %>
<% var externalLinkList = require('@components/external-link-list/external-link-list.ejs'); %>
<% var pageFooter = require('@components/page-footer/page-footer.ejs'); %>
<% var foot = require('@meta/foot.ejs'); %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= head({
      title: 'Work',
      description: 'Feel free to browse some articles I\'ve written in the past, and some projects I\'ve worked on as a web developer.',
      canonicalUrl: 'https://www.fredericaerts.com/work',
    }) %>    
  </head>
  <body>
    <%= pageHeader({
      link: {
        text: 'Home',
        link: '/'
      }
    }) %>
    <div class="work-page">
      <div class="section">
        <h1>Work</h1>
      </div>
      <div class="section">
        <h2>Writing</h2>
        <%= externalLinkList({
          introText: 'In 2015, I wrote a 3 piece article on building websites for beginners.<br><strong style="display:inline-block; margin-top: 10px;">How to become a web developer in 3 days</strong>',
          links: [
            {
              text: 'Day 1: What websites are made of',
              mediumLink: 'https://medium.com/@frederic_aerts/day-1-what-websites-are-made-of-2f572662db71',
              link: '/external/writing/developer-in-3-days/what-websites-are-made-of',
              newTab: false,
              labels: []
            },
            {
              text: 'Day 2: Structure and styling',
              link: '/external/writing/developer-in-3-days/structure-and-styling',
              mediumLink: 'https://medium.com/@frederic_aerts/day-2-structure-and-styling-2576c63f0258',
              newTab: false,
              labels: []
            },
            {
              text: 'Day 3: Behavior and going live',
              link: '/external/writing/developer-in-3-days/behavior-and-going-live',
              mediumLink: 'https://medium.com/@frederic_aerts/day-3-behavior-and-going-live-5d8d4a73afba',
              newTab: false,
              labels: []
            }
          ]
        }) %>
      </div>
      <div class="section work-page__portfolio">
        <h2>Portfolio</h2>
        <div class="work-page__portfolio__legend">
          <span class="green">Frontend</span>
          <span class="pink">Design</span>
          <span class="blue">Backend</span>
        </div>
        <%= externalLinkList({
          introText: 'Here are some projects I worked on as a web developer.',
          links: [
            {
              text: 'Web application that enables parents to create qualitative video playlists — suitable for kids aged one to six.',
              link: 'https://tinytarantino.com/',
              newTab: true,
              labels: ['green', 'pink', 'blue']
            },
            {
              text: 'An effort to obliterate common misconceptions about immigration in Belgium, made in the run-up to the Belgian elections of 2019.',
              link: 'https://www.immigration-in-belgium.com/',
              newTab: true,
              labels: ['green', 'pink', 'blue']
            },
            {
              text: 'Frontend template for an enterprise grade open publishing and live broadcasting platform.',
              link: '/external/projects/webinar/html/sign-in/',
              newTab: true,
              labels: ['green']
            },
            {
              text: 'Online home for Nazka Mapps.',
              link: 'https://www.nazka.be/en',
              newTab: true,
              labels: ['green', 'pink', 'blue']
            },
            {
              text: 'A place for creating, editing and presenting slide decks.',
              link: '/external/projects/slideshow/hub/#/',
              newTab: true,
              labels: ['green']
            },
            {
              text: 'The Global Wind Atlas: a web-based application to help policymakers and investors identify potential high-wind areas for wind power generation.',
              link: 'https://globalwindatlas.info/',
              newTab: true,
              labels: ['green']
            },
            {
              text: 'A website about the outdoor game Kubb.',
              link: 'https://www.kubb.world/',
              newTab: true,
              labels: ['green', 'pink', 'blue']
            },
            {
              text: 'A website about the outdoor game Mölkky.',
              link: 'https://www.molkky.world/',
              newTab: true,
              labels: ['green', 'pink', 'blue']
            },
            {
              text: 'Online home for a company that is committed to give your scientific research the platform it deserves.',
              link: '/external/projects/highlight-science-writing/',
              newTab: true,
              labels: ['green', 'pink', 'blue']
            },
            {
              text: 'One of many fully responsive frontend templates I\'ve built for Wavecast.',
              link: '/external/projects/anz/',
              newTab: true,
              labels: ['green']
            },
            {
              text: 'Pro bono project that delivered an online home for a platform aimed at streamlining transplant-related research at the University of Leuven.',
              link: '/external/projects/transcent/',
              newTab: true,
              labels: ['green', 'pink']
            },
            {
              text: 'Small website for a small gym located in Kessel-Lo, Leuven.',
              link: '/external/projects/energym/',
              newTab: true,
              labels: ['green', 'pink']
            },
            {
              text: 'Website for landing my very first job as a frontend developer (Dutch).',
              link: '/external/projects/job-application/',
              newTab: true,
              labels: ['green', 'pink']
            },
          ]
        }) %>
      </div>
    </div>
    <%= pageFooter() %>
    <%= foot() %>
  </body>
</html>