<% var head = require('@meta/head.ejs'); %>
<% var pageHeader = require('@components/page-header/page-header.ejs'); %>
<% var contactCard = require('@components/contact-card/contact-card.ejs'); %>
<% var pageFooter = require('@components/page-footer/page-footer.ejs'); %>
<% var foot = require('@meta/foot.ejs'); %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= head({
      title: 'Open to new challenges',
      description: 'This is my online home. There\'s not much here yet. Hopefully this place will grow alongside my career path.',
      canonicalUrl: 'https://www.fredericaerts.com',
    }) %>    
  </head>
  <body>
    <%= pageHeader({
      link: {
        text: 'Work',
        link: '/work'
      }
    }) %>
    <div class="home-page-body">
      <%= contactCard({
        contactName: 'Hi, I\'m Frederic',
        metaItems: [
          {
            text: "Master in Biology"
          },
          {
            text: "Freelance Web Developer"
          },
          {
            text: "Open to new challenges"
          }
        ],
        social: [
          {
            isEmail: true,
            iconSrc: '/img/icons/envelope-white.svg',
            brandColor: '#333',
            link: 'info@fredericaerts.com'
          },
          {
            iconSrc: '/img/social/linkedin-in.svg',
            brandColor: '#0077b5',
            link: 'https://www.linkedin.com/in/frédéric-aerts-b68035a'
          },
        ]
      }) %>
    </div>
    <%= pageFooter() %>
    <%= foot() %>
  </body>
</html>